fastapi
uvicorn[standard]
sqlmodel
docker
apscheduler
pydantic
python-multipart
aiofiles
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
cryptography
PyJWT
requests
httpx
aiosmtplib
psycopg2-binary
pytest
pytest-asyncio
pytest-cov
