fastapi
uvicorn[standard]
sqlmodel
docker
apscheduler
pydantic
email-validator
python-multipart
aiofiles
alembic
python-dotenv
python-jose[cryptography]
cryptography
PyJWT
requests
httpx
aiosmtplib
psycopg2-binary
psutil
pytest
pytest-asyncio
pytest-cov
slowapi
posthog
