apiVersion: v1
kind: Service
metadata:
  name: fastflow-orchestrator
  labels:
    app: fastflow-orchestrator
spec:
  type: NodePort
  selector:
    app: fastflow-orchestrator
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30080
      name: http
